.main-button {
  border-radius: 6px;
  background: $green-color;
  color: $white-color;
  text-align: center;
  font-family: $font-family-two;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  transition: $transition;
  padding: 15px 30px 15px 30px;
}
.main-button:hover {
  transition: $transition;
  background: #66d2cf;
}
.main-button:active {
  transition: $transition;
  background: #e2dedb;
}
.text-style-link {
  color: $grey-color;
  font-family: $font-family-one;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}
.text-style-link:hover {
  color: $black-color;
}
