// COLORS
$green-color: #0e8784;
$black-color: #333d4b;
$light-orange-color: #fdd6ba;
$white-color: #fefcf7;
$grey-color: #83888f;
// FONTS
$font-family-one: Barlow, sans-serif;
$font-family-two: Fraunces, sans-serif;
// TRANSITION
$transition: all 0.5s;
